{% extends 'layouts/main.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/src/addons.css">
{% endblock stylesheets %}

{% block card %}
    <section class="card">
        <h1>Pick add-ons</h1>
        <p>Add-ons help enhance your gaming experience. </p>
        <ul id="planAddons">
            <li>
                <input type="checkbox" id="onlineServiceOffer" checked>
                <label for="onlineServiceOffer">
                    <i class="addonControl"></i>
                    <span class="offer">
                        Online service
                        <small>Access to multiplayer games</small>
                    </span>
                    <small class="fee">+$1/mo</small>
                </label>
            </li><li>
                <input type="checkbox" id="largerStorageOffer">
                <label for="largerStorageOffer">
                    <i class="addonControl"></i>
                    <span class="offer">
                        Larger Storage
                        <small>Extra 1TB of cloud storage</small>
                    </span>
                    <small class="fee">+$2/mo</small>
                </label>
            </li><li>
                <input type="checkbox" id="customProfileOffer">
                <label for="customProfileOffer">
                    <i class="addonControl"></i>
                    <span class="offer">
                        Customizable profile
                        <small>Custom theme on your profile</small>
                    </span>
                    <small class="fee">+$2/mo</small>
                </label>
            </li>
        </ul>
    </section>
{% endblock card %}