article {
    display: flex;
    flex-direction: column-reverse;
}

#planOptions {
    display: flex;
    flex-direction: column;
    row-gap: 0.75em;
    margin: 0 0 1.5em;
}

#planOptions a {
    border-radius: 0.5em;
    padding: 1em 1em 1em 4.5em;
    background-repeat: no-repeat;
    background-position: 1em center;
    border: 1px solid var(--light-gray);
    text-decoration: none;
    color: var(--cool-gray);
    font-size: 0.875em;
    line-height: 1.25em;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.4375em;
}

#planOptions a:hover,
#planOptions a:active,
#planOptions a:focus {
    border-color: var(--purplish-blue);
}

#planOptions a:active,
#planOptions a:focus {
    background-color: var(--alabaster);
}

#arcade a {
    background-image: url(assets/icon-arcade.svg);
}

#advanced a {
    background-image: url(assets/icon-advanced.svg);
}

#pro a {
    background-image: url(assets/icon-pro.svg);
}

#planOptions h2 {
    color: var(--marine-blue);
    font-size: 1rem;
}

#planOptions .annualOffer {
    font-size: 0.75rem;
    color: var(--marine-blue);
    display: none;
}

#termLength {
    display: none;
}

#termLengthWrapper {
    height: 3em;
    background: var(--alabaster);
    color: var(--marine-blue);
    font-size: 0.875em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 3.5em;
    transition: 0.2s;
    border-radius: 0.5em;
}

#termControl {
    width: 2.375rem;
    height: 1.25rem;
    background: var(--marine-blue);
    border-radius: 0.75em;
    padding: 0.25rem 0 0.25em 0;
    position: relative;
}

#termControl span {
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    background: var(--white);
    border-radius: 50%;
    position: absolute;
    left: 0.3125em;
    transition: 0.075s left;
}

#termLength:checked + #termLengthWrapper #termControl span {
    left: 1.3125rem;
}

#termLength:checked ~ #planOptions .annualOffer {
    display: block;
}

@media(min-width: 60.75em) {
    #planOptions {
        flex-direction: row;
        column-gap: 1em;
        margin:0 0 2em;
    }

    #planOptions li {
        flex-basis: 0;
        flex-grow: 1;
        height: 10em;
    }

    #planOptions li a {
        display: flex;
        flex-direction: column;
        padding: 1em;
        justify-content: flex-end;
        background-position: 1em 1em;
        row-gap: 0.4375em;
    }
}